<div class= "container">
  <div class="row justify-content-center mt-5">
    <div class= "h1">
      <h1>レビュー詳細</h1>
    </div>
  </div>
  <div class="row justify-content-center mt-2">
      <%= image_tag @review.image, size: "500x300"%>
  </div>
  <div class="row justify-content-center mt-2">
      <%= @review.title%>
  </div>
  <div class="row justify-content-center mt-2">
      <%= @review.content%>
  </div>
  <div class="row justify-content-center mt-2">
       <%= @review.address%>
  </div>
  <div class="row justify-content-center mt-2">
    <% if @review.price.present? %>
      <%= @review.price %>円
    <% end %>
  </div>
  <div class="row justify-content-center mt-3">
    <%= link_to "編集", edit_admin_review_path(@review), class: "btn btn-primary mr-3" %>
    <%= link_to "削除", admin_review_path(@review.id),method: :delete, data: {confirm: "削除しますか？"},class: "btn btn-danger mr-3"%>
    <%= link_to "戻る", admin_reviews_path, class: "btn btn-secondary" %>
  </div>

</div>

