<!DOCTYPE html>
<html>
  <head>
    <title>WanwanEv</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/990dc26cec.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header style="background-color: #663300;">

        <div class= "container">
         <div class="row">
          <div class="col text-center">
            <a href="/admin/sign_in" class="nav-title text-center">
              わんわんナビ
            </a>
          </div>
         </div>

         <div class="row">
          <div class="col">
           <ul class="nav justify-content-center">
             <% if admin_signed_in? %>

              <ul class="nav">
                 <li class="nav-item">
                   <%= link_to(admin_users_path, method: :get, class: "nav-link text-left") do %>
                     会員一覧
                   <% end %>
                 </li>

                 <li class="nav-item">
                   <%= link_to(destroy_admin_session_path, method: :delete, class: "nav-link text-left") do %>
                     ログアウト
                   <% end %>
                 </li>

                <li class="nav-item">
                 <%= link_to(admin_regions_path, method: :get, class: "nav-link text-center") do %>
                     <i class="fa-solid fa-location-dot">エリア</i>
                 <% end %>
                </li>

                 <li class="nav-item">
                   <%= link_to(admin_reviews_path, method: :get, class: "nav-link text-left") do %>
                     <i class="fa-solid fa-dog">レビュー一覧</i>
                   <% end %>
                 </li>
               </ul>

             <% elsif user_signed_in? %>
                 <li class="nav-link">
                   <%= link_to(user_my_page_path, method: :get, class: "nav-link text-left") do %>
                   マイページ
                   <% end %>
                 </li>

                 <li class="nav-link">
                   <%= link_to(destroy_user_session_path, method: :delete, class: "nav-link text-left") do %>
                    ログアウト
                   <% end %>
                 </li>

                <div class="container">
                   <div class="row">
                     <div class="col">
                       <%= link_to(public_regions_path, method: :get, class: "nav-link text-center") do %>
                         <i class="fa-solid fa-location-dot">エリア</i>
                       <% end %>
                     </div>

                     <div class="col">
                       <%= link_to(public_dog_runs_path, method: :get, class: "nav-link text-center") do %>
                         <i class="fa-solid fa-paw">ドックラン</i>
                       <% end %>
                     </div>

                     <div class="col">
                       <%= link_to(public_dog_cafes_path, method: :get, class: "nav-link text-center") do %>
                         <i class="fa-solid fa-mug-saucer">ドックカフェ</i>
                       <% end %>
                     </div>

                     <div class="col">
                       <%= link_to(public_dog_hotels_path, method: :get, class: "nav-link text-center") do %>
                         <i class="fa-solid fa-hotel">ドックホテル</i>
                       <% end %>
                     </div>

                     <div class="col">
                       <%= link_to(public_dog_events_path, method: :get, class: "nav-link text-center") do %>
                         <i class="fa-solid fa-shield-dog">ドックイベント</i>
                       <% end %>
                     </div>
                   </div>
                 </div>



             <% else %>
                 <li class="nav-link">
                   <%= link_to(new_user_registration_path, method: :get, class: "nav-link text-left") do %>
                   新規登録
                   <% end %>
                 </li>

                 <li class="nav-link">
                   <%= link_to(new_user_session_path, method: :get, class: "nav-link text-left") do %>
                    ログイン
                   <% end %>
                 </li>

                 <div class="container">
                   <div class="row">
                     <div class="col">
                       <%= link_to(public_regions_path, method: :get, class: "nav-link text-center") do %>
                         <i class="fa-solid fa-location-dot">エリア</i>
                       <% end %>
                     </div>

                     <div class="col">
                      <%= link_to(public_dog_runs_path, method: :get,class: "nav-link") do %>
                      <i class="fa-solid fa-paw">ドックラン</i>
                      <% end %>
                     </div>

                     <div class="col">
                        <%= link_to(public_dog_cafes_path, method: :get, class: "nav-link") do %>
                         <i class="fa-solid fa-mug-saucer">ドックカフェ</i>
                       <% end %>
                     </div>

                     <div class="col">
                       <%= link_to(public_dog_hotels_path, method: :ge,class: "nav-link") do %>
                         <i class="fa-solid fa-hotel">ドックホテル</i>
                       <% end %>
                     </div>

                     <div class="col">
                       <%= link_to(public_dog_events_path, method: :get,class: "nav-link") do %>
                         <i class="fa-solid fa-shield-dog">ドックイベント</i>
                       <% end %>
                     </div>
                   </div>
                 </div>
             <% end %>
            </ul>
           </div>
         </div>

       </div>

  </header>

  <body style="background-color: #FFFFF0	;">
    <%= yield %>
  </body>
</html>
